#SYNapps .sfm_textbox
{
    padding:1px;
}
#SYNapps .sfm_textarea
{
    padding:2px;
    resize:none;
}
#SYNapps .sfm_auto_hide_text
{
    color:#999 !important;
}
#SYNapps .error_strings
{
    font-family:Verdana;
    font-size:12px;
    color:#660000;
}
#SYNapps img
{
    border:0;
}
#SYNapps .loading_div
{
    background-color:transparent;
    background-image:url("images/loading.gif");
    background-position:center center;
    background-repeat:no-repeat;
}
#SYNapps input[type='submit'],input[type='reset']
{
    font:inherit;
    color:inherit;
}
#SYNapps .sfm_cr_box
{
    font-family:Verdana;
    font-size:10px;
    color:#888888;
}
#SYNapps .sfm_cr_box a
{
    color:#888888;
}
#SYNapps .form_outer_div
{
    border:none;
    background-color:#ffffff;
}
#SYNapps .sfm_form_label
{
    background-color:transparent;
}
#SYNapps .element_label
{
    background-color:transparent;
}
body#sfm_SYNapps_body
{
    background-color:transparent;
    font-family:Arial;
    font-size:12px;
    color:#000000;
    margin:0px;
}
#SYNapps .form_outer_div
{
    font-family:Arial;
    font-size:12px;
    color:#000000;
}
#SYNapps .form_subheading
{
    background-color:transparent;
    margin:0;
    padding:0;
}
#SYNapps .sfm_float_error_box
{
    font-family:Verdana;
    font-size:12px;
    color:#eeeeee;
    background:none repeat scroll 0 0 #333333;
    border:0;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow:0 0 4px #333;
    border:none;
}
#SYNapps .sfm_close_box
{
    font-family:Verdana;
    font-size:12px;
    color:#eeeeee;
}
#SYNapps .progress_box_container
{
    border:1px solid #8e8e8e;
    background-color:#cccccc;
    font-family:Arial;
    font-size:10px;
    color:#ffffff;
    text-align:center;
    vertical-align:middle;
}
#SYNapps .progress_box
{
    background-color:#333333;
    width:2px;
    float:left;
    margin:2px;
}
#SYNapps .page_heading
{
    background-color:transparent;
    margin:0;
    padding:0;
}
#SYNapps .page_number
{
    background-color:transparent;
}


#SYNapps #te233dbd2099703b8b1ed
{
    width:5px;
    height:5px;
    display:none;
}
#SYNapps #Image_container
{
    position:absolute;
    left:104px;
    top:11px;
    width:80px;
    height:80px;
    z-index:1;
}
#SYNapps #label_container
{
    position:absolute;
    left:86px;
    top:86px;
    width:124px;
    height:20px;
    z-index:2;
}
#SYNapps #label
{
    position:absolute;
    top:3px;
    left:0px;
    width:100%;
    text-align:center;
}
#SYNapps #horiz_line
{
    position:absolute;
    left:81px;
    top:106px;
    width:140px;
    height:5px;
    z-index:3;
    border:none;
    border-top:2px solid #000000;
}
#SYNapps #Selector_0_container
{
    position:absolute;
    left:61px;
    top:120px;
    width:80px;
    height:22px;
    z-index:4;
}
#SYNapps #Selector_1_container
{
    position:absolute;
    left:61px;
    top:141px;
    width:158px;
    height:22px;
    z-index:5;
}
#SYNapps #Selector_2_container
{
    position:absolute;
    left:61px;
    top:164px;
    width:186px;
    height:22px;
    z-index:6;
}
#SYNapps #Selector_3_container
{
    position:absolute;
    left:61px;
    top:187px;
    width:143px;
    height:22px;
    z-index:7;
}
#SYNapps #label1_container
{
    position:absolute;
    left:31px;
    top:214px;
    width:60px;
    height:20px;
    z-index:8;
}
#SYNapps #label1
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#SYNapps #Name_container
{
    position:absolute;
    left:96px;
    top:214px;
    z-index:9;
}
#SYNapps #Name
{
    float:left;
    width:114px;
    z-index:9;
}
#SYNapps #label2_container
{
    position:absolute;
    left:31px;
    top:248px;
    width:60px;
    height:20px;
    z-index:10;
}
#SYNapps #label2
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#SYNapps #Email_container
{
    position:absolute;
    left:96px;
    top:248px;
    z-index:11;
}
#SYNapps #Email
{
    float:left;
    width:114px;
    z-index:11;
}
#SYNapps #label3_container
{
    position:absolute;
    left:31px;
    top:281px;
    width:60px;
    height:20px;
    z-index:12;
}
#SYNapps #label3
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#SYNapps #Phone_container
{
    position:absolute;
    left:96px;
    top:281px;
    z-index:13;
}
#SYNapps #Phone
{
    float:left;
    width:114px;
    z-index:13;
}
#SYNapps #Submit_container
{
    position:absolute;
    left:113px;
    top:324px;
    width:80px;
    height:25px;
    z-index:14;
}
#SYNapps #SYNapps_Submit_img
{
    width:84px;
    height:29px;
    border:none;
}
